/* 
=== fonts === 
font-family: "Raleway", sans-serif;
font-family: "Champagne & Limousines", sans-serif;
*/

:root {
    --bs-body-font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    position: sticky;
    background-color: white;
    top: 0;
}

main {
    flex: 1;
    padding: 20px 0;
}

/* главный блок на главной */
.hero-section {
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-pagination {
    opacity: 0;
}

.swiper-buttons {
    padding-left: 15px;
}

.swiper-button-next,
.swiper-button-prev {
    position: static;
    color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 1px solid #fff;
    margin: 0 7px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    height: 18px;
    width: 18px;
}

.swiper-button-next {
    padding-right: 10px;
}
.swiper-button-next::after {
    transform: rotate(-45deg);
}

.swiper-button-prev {
    padding-left: 10px;
}
.swiper-button-prev::after {
    transform: rotate(135deg);
}

@media (max-width: 991px) {
    .swiper-pagination {
        position: static;
        opacity: 1;
    }

    .swiper-buttons {
        padding-left: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .catalog-btn {
        justify-content: center !important;
    }

    .hero-section {
        align-items: center !important;
        justify-content: flex-start;
        padding-top: 50px;
        text-align: center;
    }
}

footer {
    padding: 40px 0;
    text-align: center;
    color: white;
    background-color: #3D518C; 
}

.icon {
    width: 30px;
    padding-right: 5px;
}

.nav-link {
    color: #393E51;
}

.nav-link--light {
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn-primary {
    background-color: #3D518C; 
    border: none;
}

.btn-secondary {
    background-color: #fff; 
    color: #000;
    border: none;
}

.text-accent {
    color: #BDAA8A;
}

/* header */
.logo {
    max-width: 70px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .logo {
        max-width: 100px;
    }
}

.dropdown-menu {
    border: none;
    outline: none;
}

.search-input-wrapper {
    position: relative;
    width: fit-content;
}

.search-input {
    width: 600px;
    padding: 11px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus-visible,
.navbar-toggler:focus {
    border: none;
    outline: none;
    background-color: white!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%233D518C' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.static-dropdown {
    display: none; /* Скрываем меню по умолчанию */
    list-style: none;
    padding: 0;
    margin: 0;
}

.static-dropdown.show {
    display: block; /* Показываем меню при активации */
}